@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body{
  background-color: #e7dfd8;
}
header{
  position:sticky;
}
header nav{
  display:flex;
  justify-content:space-around;
  padding:20px;
  background-color: #e7dfd8;
  border-bottom:solid 2px #654f3a;
}
header nav a{
  text-decoration:none;
  color: #281f15;
  font-size:24px;
  
}
.paragraph{
  margin-top:40px;
  width:70%;
  margin-left:15%;
  font-family: 'Quicksand', sans-serif;
}

.paragraph h1{
  margin-bottom:20px;
}
